# Serverless Config
service:
  name: harbinger-signer

# Plugins
plugins:
  - serverless-webpack
  - serverless-api-gateway-caching

# Provider
provider:
  name: aws
  runtime: nodejs12.x
  apiKeys:
    - ${opt:stage,'coinbase'}-signer

  stage: ${opt:stage,'coinbase'}
  region: ${self:custom.awsKmsKeyRegion}

  # Environment Variables
  environment:
    # Credentials to access the AWS KMS service.
    AWS_KMS_KEY_ID: ${ssm:${self:custom.awsKmsKeyId}}
    AWS_KMS_KEY_REGION: ${self:custom.awsKmsKeyRegion}

    # Assets to serve in the feed.
    ASSETS: ${self:custom.assets.${self:provider.stage}}

    # The service which provides candles.
    CANDLE_PROVIDER:  ${self:custom.candleProvider.${self:provider.stage}}

    # Only used if CANDLE_PROVIDER is "COINBASE"
    COINBASE_API_KEY_ID: ${ssm:${self:custom.coinbaseApiKeyId}~true}
    COINBASE_API_KEY_SECRET: ${ssm:${self:custom.coinbaseApiKeySecret}~true}
    COINBASE_API_KEY_PASSPHRASE: ${ssm:${self:custom.coinbaseApiKeyPassphrase}~true}

# Custom Variables
custom:
  stages:
    - coinbase
    - binance
    - gemini
    - okex
  # Enable or disable caching globally
  apiGatewayCaching:
    enabled: true
    clusterSize: '0.5' # defaults to '0.5'
    ttlInSeconds: 60 # defaults to the maximum allowed: 3600
    dataEncrypted: false # defaults to false
  # AWS KMS Key ID.
  awsKmsKeyId: "/tezos/signer-kms-key-id"
  # AWS Region where AWS KMS Key is located.
  awsKmsKeyRegion: "eu-west-1"
  # Assets to update.
  assets:
    # These order books are all available on Coinbase Pro, feel free to add more
    coinbase: "BAT-USDC,BTC-USD,COMP-USD,DAI-USDC,ETH-USD,KNC-USD,LINK-USD,REP-USD,XTZ-USD,ZRX-USD"
    # These order books are all available on Binance, feel free to add more
    binance: "BAT-USDT,BTC-USDT,COMP-USDT,DAI-USDT,ETH-USDT,KNC-USDT,LINK-USDT,REP-USDT,XTZ-USDT,ZRX-USDT"
    # These order books are all available on Gemini, feel free to add more
    gemini: "BTC-USD,ETH-USD,LINK-USD,DAI-USD,BAT-USD,OXT-USD,ZEC-USD,BCH-USD,LTC-USD"
    # These order books are all available on OKEx, feel free to add more
    okex: "BTC-USDT,ETH-USDT,LINK-USDT,XTZ-USDT,ATOM-USDT,CRV-USDT,BAL-USDT,SNX-USDT,KNC-USDT"
  # The service which provides candles.
  # See the README for information about how to wire custom feed providers.
  candleProvider:
    coinbase: "COINBASE"
    binance: "BINANCE"
    gemini: "GEMINI"
    okex: "OKEX"
  # A Coinbase Pro API Key ID - only used if candleProvider is set to COINBASE.
  coinbaseApiKeyId: "/tezos/coinbase-pro-api-key"
  # A Coinbase Pro API Key Secret - only used if candleProvider is set to COINBASE.
  coinbaseApiKeySecret: "/tezos/coinbase-pro-api-secret"
  # A Coinbase Pro API Key Passphase - only used if candleProvider is set to COINBASE.
  coinbaseApiKeyPassphrase: "/tezos/coinbase-pro-api-passphrase"

# Functions
functions:
  oracle:
    handler: handler.oracle
    # Allow long timeouts since APIs may rate limit.
    timeout: 30
    events:
      - http:
          method: get
          path: oracle
          caching:
            enabled: true
            ttlInSeconds: 60
          
  revoke:
    handler: handler.revoke
    events:
      - http:
          method: get
          path: revoke
          private: true
  getInfo:
    handler: handler.info
    events:
      - http:
          method: get
          path: info
          private: true
